<div>
<input id="menu-toggle" type="checkbox" checked>
<label id="menu-label" for="menu-toggle">
  <div class="bg-gray-800 relative text-gray-300 text-3xl font-semibold w-full py-2 h-16 rounded grid grid-cols-2">
  <div class="relative mt-1 mx-5"><span><p>Advanced Search<p></span></div>
  <div class="mx-4 place-self-end"><svg xmlns="http://www.w3.org/2000/svg" width = "50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /></svg></div>
</div>
</label>
    <div id="collapse-menu" class="bg-gray-200 overflow-hidden shadow-sm w-full">
        <div class="p-6 bg-white border-b bg-gray-200 border-gray-200 w-10/12 m-auto">
            <form [formGroup]="form">
                <div class="mb-4">
                    <label class="text-xl text-gray-600 pr-4">Title</label>
                    <input type="text" class="border-2 border-gray-300 p-2 w-8/12 rounded " formControlName="title" name="title" id="title" value="">
                </div>
                <div>
                    <div>
                        <p class="text-xl text-gray-600 pr-4">Genres</p>
                    </div>
                    <div class="grid grid-cols-5 justify-items-start">
                        <label class="inline-flex items-center mt-3" *ngFor="let genre of this.genres;">
                            <input type="checkbox" class="form-checkbox rounded h-5 w-5 text-gray-800" [checked]="genre.isSelected" [value]="genre.value" (change)="onCheckboxChange($event)">
                            <span class="ml-2 text-gray-700">{{genre.name}}</span>
                        </label>
                    </div>
                </div>
                <div class="flex p-1 mt-5">
                    <button role="submit" class="p-3 bg-gray-800 rounded text-white hover:bg-gray-700" (click)="onAdvancedSearch()">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
