###> symfony/framework-bundle ###
MoviesBackend/.env.local
MoviesBackend/.env.local.php
MoviesBackend/.env.*.local
MoviesBackend/config/secrets/prod/prod.decrypt.private.php
MoviesBackend/public/bundles/
MoviesBackend/var/
MoviesBackend/vendor/
###< symfony/framework-bundle ###