<div class="bg-grey-lighter min-h-screen w-4/12 mx-auto mt-44">
    <div class="container mx-auto items-center justify-center px-2">
        <form class="bg-white px-6 py-8 rounded shadow-xl text-black w-full" [formGroup]="loginForm">
            <h1 class="mb-8 text-3xl text-center">Sign in</h1>
            <div *ngIf="loginFail" class="mx-auto flex flex-col border-red items-center p-3 mb-3 rounded-lg bg-red-200">
                <p class="text-red-600">Incorrect username or password</p>
            </div>
            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4 focus: box-shadow-none"
                placeholder="Username"
                formControlName="username"
                [ngClass]="{'border-red-500 ring-0 focus:ring-red-500 focus:border-red-500 ': username.invalid && (username.dirty || username.touched || submitted)}"
                 />
            <div class = "-mt-3 mb-3 text-red-500 text-md" *ngIf="username.invalid && (username.dirty || username.touched || submitted)">
                <div *ngIf="username.errors.required">
                    Please enter username
                </div>
            </div>
            <input 
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="password"
                placeholder="Password" 
                formControlName="password"
                [ngClass]="{'border-red-500 ring-0 focus:ring-red-500 focus:border-red-500 ': password.invalid && (password.dirty || password.touched || submitted)}"
                />
            
            <div class = "-mt-3 mb-3 text-red-500 text-md" *ngIf="password.invalid && (password.dirty || password.touched || submitted)">
                <div *ngIf="password.errors.required">
                    Please enter password
                </div>
            </div>
            <button (click) ="onSubmit()" type="button" class="w-full text-center py-3 rounded bg-gray-800 text-white hover:bg-gray-600 focus:outline-none my-1">Sign in</button>
            <div class="no-underline text-blue-500 hover:underline hover:text-gray-700 mx-auto flex flex-col mt-2">
                <a href="/register" class="mx-auto">
                    Create new account
                </a> 
            </div>
        </form>
    </div>
</div>