<nav class="bg-gray-800 fixed w-full">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-shrink-0 flex items-center w-full">
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow" />
                <a href="#" class="text-white text-2xl font-extrabold p-6 mr-9">TBM</a>
                <div class="hidden sm:block w-7/12">
                    <div class="relative mx-auto text-gray-300">
                        <form>
                        <input type="text" [formControl]="titleToSearchMovie" class="bg-gray-700 border-0 w-full h-9 pl-2 pr-8 rounded-lg text-sm focus:ring-gray-100 focus:ring-opacity-0 focus:ring-offset-transparent"
                            type="search" name="search" placeholder="Search" >
                        <button type="submit" (click)="onSearchMovie()" class="absolute right-0 top-0 mt-2.5 mr-3.5">
                            <svg class="text-gray-300 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                 version="1.1" id="Capa_1" x="0px" y="0px"
                                 viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                                 xml:space="preserve"
                                 width="512px" height="512px">
                        <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
                      </svg>
                        </button>
                        </form>
                    </div>
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="ml-20 flex space-x-4">
                      <a href="#" class="text-white hover:text-gray-500 px-4 py-2 rounded-md text-md font-medium">Sing in</a>
                      <a href="#" class="text-white border-2 hover:text-gray-500 hover:border-gray-500 px-4 py-2 rounded-md text-md font-medium">Sing up</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</nav>